body{
   background-color: aqua; 
}

.pr{
border-radius: 23px;
width: 1040px;
height: 260px;
background-color: blueviolet;
color: rgb(255, 255, 255);
margin: 65px;
}

.one{




}
.two{
    .krug{
border-radius: 80px;
background-color: brown;
width: 50px;
height: 59px;
border: 4px solid black;

}
}
